#searchterm {
  height: 30px;
  width: 300px;
}

#translate_element {
  height: 100px;
  width: 300px;
  overflow-y: auto;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 0px 5px;
  margin: 10px 0px;
}

.language-selection-boxes {
  width: 500px;
}

.language-selection-box {
  width: 40%;
}